<div class="flex h-screen justify-center items-center font-mono">
  <p
    id="writer"
    class="
      text-7xl font-medium whitespace-pre
      transition-all ease-in-out duration-1000 absolute -translate-x-1/2 top-1/2 left-1/2
    "
  >
  </p>

  <div *ngIf=introDone class="transition-all ease-in duration-250">
    <p>Hi, I'm Brendan, a recent graduate of
      <span class="group/ucf inline-flex hover:cursor-[url('/assets/knights.png'),_pointer]">
        <span class="group-hover/ucf:text-amber-200 transition duration-75 group-hover/ucf:-translate-y-px delay-[50ms]">U</span>
        <span class="group-hover/ucf:text-amber-300 transition duration-75 group-hover/ucf:-translate-y-px delay-[75ms]">C</span>
        <span class="group-hover/ucf:text-amber-400 transition duration-75 group-hover/ucf:-translate-y-px delay-[100ms]">F</span>
      </span>
    </p>
  </div>
</div>
